doctype html
html(lang="zh-Hant")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="keyword" content="Dress Casual Day")
    meta(name="author" content="The Community Chest of Hong Kong")
    meta(name="description" content="Dress Casual Day has developed to become a flagship fundraising event of the Community Chest since its inception in 1993. Each participant donates HK$70 or more (no minimum is set for students) and go to work / school in their favourite casual wear in support of a meaningful cause.")
    meta(name="copyright" content="© The Community Chest of Hong Kong 2025 All rights reserved.")

    link(rel="preconnect", href="https://cdnjs.cloudflare.com")
    link(rel="preconnect", href="https://code.jquery.com")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
    
    link(rel="preload", href="./src/font/GenSenRounded2TW-M.otf", as="font", type="font/otf", crossorigin)
    link(rel="preload", href="./src/font/GenSenRounded2TW-B.otf", as="font", type="font/otf", crossorigin)
    
    link(rel="preload", href="./src/images/home_page/fv.png", as="image")
    link(rel="preload", href="./src/images/home_page/logo.svg", as="image")
    link(rel="preload", href="./src/images/header/header.svg", as="image")
    
    link(rel="stylesheet", href="./src/style/reset.css")
    link(rel="stylesheet", href="./src/style/main_en.css")
    link(rel="icon", type="image/x-icon", href="./src/images/favicon/favicon.png")
    link(rel="apple-touch-icon", sizes="180x180", href="./src/images/favicon/apple-touch-icon.png")

    title Dress Casual Day 2025 | WEAR TO CARE
  body
    .loading-screen
      .loading-container
        .loading-logo
          img(src="./src/images/home_page/logo.svg", alt="Community Chest of Hong Kong")
    header
      .marquee
        .track 
          img(src="./src/images/header/header.svg", alt="")
          img(src="./src/images/header/header.svg", alt="")
      .menu_fix 
        .logo 
          img(src="./src/images/home_page/logo.svg", alt="Community Chest of Hong Kong") 
        .wrap 
          a.school.laptop(href="https://app.commchest.org/event/dcd2025/enrolment.aspx" target="_blank") Corporate / School
          a.personal.laptop(href="https://www.commchest.org/en/event/dcd2025/enrolment/form/individual" target="_blank") Individual
          a.download.laptop(href="#download") Downloads
          .language
            a(href="index_cht.html") 繁
          .menu_btn.mobile
            span
      
      .mobile-menu-overlay
      .mobile-menu
        .mobile-menu-header
          .close-btn ×
        .mobile-menu-content
          a.mobile-menu-item(href="https://app.commchest.org/event/dcd2025/enrolment.aspx" target="_blank") Corporate / School
          a.mobile-menu-item(href="https://www.commchest.org/en/event/dcd2025/enrolment/form/individual" target="_blank") Individual
          a.mobile-menu-item(href="#download") Downloads
    section.home_page
      

      .bg_line
        .line#yellow
        .line#pink
        .line#blue
      .content
        .menu
          .logo
            img(src="./src/images/home_page/logo.svg", alt="Community Chest of Hong Kong")
          .menu_2
            a.school(href="https://app.commchest.org/event/dcd2025/enrolment.aspx" target="_blank") Corporate / School
            a.personal(href="https://www.commchest.org/en/event/dcd2025/enrolment/form/individual" target="_blank") Individual
            a.download(href="#download") Downloads
          .language
            a(href="index_cht.html") 繁
            .menu_btn
              span
        .fv
          img(src="./src/images/home_page/fv.png", alt="")
          .title.fade_fv
            img.en(src="./src/images/home_page/title_en.svg", alt="Dress Casual Day")
            img.cht(src="./src/images/home_page/title_cht.svg", alt="公益金便服日 2025.10.28 星期二 TUE")
          .copywrite
            img(src="./src/images/home_page/copywrite.svg", alt="")
        .sticker.fade_sticker
          img(src="./src/images/home_page/sticker.png", alt="")

    section.intro
      .title.fade
        .bg_cloud
        .title_content
          img(src="./src/images/intro/title.png", loading="lazy", alt="")
          img(src="./src/images/intro/1.png", loading="lazy", alt="")
          .bubble
            img#bubble_1(src="./src/images/intro/bubble_1.svg", loading="lazy", alt="")
            img#bubble_2(src="./src/images/intro/bubble_2.svg", loading="lazy", alt="")
      .content 
        p.fade_text 
          | Dress Casual Day has developed to become a flagship fundraising event of the Community Chest since its inception in 1993. Each participant donates HK$70 or more (no minimum is set for students) and go to work / school in their favourite casual wear in support of a meaningful cause.
        p.fade_text
          |The coming event will be held on 
          span.mint  Tuesday, 28 October 2025
          |. To make it more fun, a special event theme will be adopted and various activities will be held every year. This year, the Dress Casual Day continues with the “
          span.mint WEAR TO CARE
          |” slogan. Let's put on our casual outfits, show our love and care for everyone around us! 
          br
          span.mint WEAR TO CARE
          |  !
        .bubble
          img.fade#bubble_three(src="./src/images/intro/bubble_1.svg", loading="lazy", alt="")
          img.fade#bubble_four(src="./src/images/intro/bubble_3.png", loading="lazy", alt="")
          img.fade#bubble_five(src="./src/images/intro/bubble_1.svg", loading="lazy", alt="")
          img.fade#bubble_six(src="./src/images/intro/bubble_4.png", loading="lazy", alt="")
    section.video 
      .frame.fade_text
        img#youtube(src="./src/images/video/video.png", loading="lazy", alt="")
        img#playbtn(src="./src/images/video/play.svg", loading="lazy", alt="", style="cursor:pointer;")
      .video-popup
        .container
          span.close-btn(aria-label="關閉") ×
          iframe(width="850", height="500", src="https://www.youtube.com/embed/ufFsFBqIqe4?si=SnL66addkUJKoK5G", frameborder="0", allow="autoplay; encrypted-media", allowfullscreen)
      img#video_bg(src="./src/images/video/video_bg.png", loading="lazy", alt="")
    section.story
      .title.fade
        img#one(src="./src/images/story/1.png", loading="lazy", alt="")
        img#two(src="./src/images/story/wear_to_care.png", loading="lazy", alt="")
        img#three(src="./src/images/story/2.png", loading="lazy", alt="")
      img(src="./src/images/story/light.png", loading="lazy", alt="")
      .content.fade
        img(src="./src/images/story/story_title_en.png", loading="lazy", alt="")
        p.fade_text Each year, the Chest organises fund-raising events to benefit over 160 social welfare member agencies to support social services in six key areas: children & youth, elderly, family & child welfare, medical & health, rehabilitation & aftercare, and community development, benefitting over 3.5 million service users each year.
          br
          br
          |The Chest's administrative expenses come from a subsidised grant from our partner-in-charity, The Hong Kong Jockey Club, and return from prudent investment. This allows the Chest to allocate 100% of funds raised to charitable use; this operations model makes the Chest unique among its peers, and helps fulfil its mission to act as trustee of the donors.
      //- 最後再來用
      .bg
      .board
        .wrap.laptop 
          .img.fade#one
            img(src="./src/images/story/story_1_en.png", loading="lazy", alt="")
            .pic
              .content “Children and Youth Services" provide caring services, support services and various developmental and training projects to help children and youth acquire well-rounded personal growth and enhance their leadership and inter-personal skills.
              .btn 
                a(href="./src/pdf/1_children/Brief_Children and Youth Services_2526.pdf" target="_blank")
                  p Service Brief
                a(href="./src/pdf/1_children/MA list_Children and Youth Services_2526.pdf" target="_blank")
                  p Beneficiary
          
          .img.fade#four
            img(src="./src/images/story/story_4_en.png", loading="lazy", alt="")
            .pic
              .content "Medical & Health Services" aim to support patients and their family members in better managing their daily lives and to improve their quality of life; to advocate healthy living style and provide preventive education on different diseases among members of the community to achieve holistic development.
              .btn 
                a(href="./src/pdf/4_Medical/Brief_Medical & Health Services_2526.pdf" target="_blank")
                  p Service Brief
                a(href="./src/pdf/4_Medical/MA_list_Medical & Health Services_2526.pdf" target="_blank")
                  p Beneficiary
        .wrap#middle.laptop
          .img.fade#two
            img(src="./src/images/story/story_2_en.png", loading="lazy", alt="")
            .pic
              .content The ultimate goals of “Elderly Services” are to encourage and assist people to take care of their senior family members; to provide multi-dimensional services for senior citizens to join in community activities, to demonstrate their strengths and to enable them to enjoy good health and have a sense of security, belonging and worthiness.
              .btn 
                a(href="./src/pdf/2_elderly/Brief_Elderly Services_2526.pdf" target="_blank")
                  p Service Brief
                a(href="./src/pdf/2_elderly/MA list_Elderly Services_2526.pdf" target="_blank")
                  p Beneficiary
          .img.fade#five
            img(src="./src/images/story/story_5_en.png", loading="lazy", alt="")
            .pic
              .content "Rehabilitation Services" aim to acknowledge the equal rights of people with disabilities to be full members of the community by assisting them in developing their physical, mental and social capabilities to the fullest possible extent and to promote their integration into the community.
              .btn 
                a(href="./src/pdf/5_Aftercare/Brief_Rehabilitation and Aftercare Services_2526.pdf" target="_blank")
                  p Service Brief
                a(href="./src/pdf/5_Aftercare/MA_list_Rehabilitation and Aftercare Services_2526.pdf" target="_blank")
                  p Beneficiary
        .wrap.laptop
          .img.fade#three
            img(src="./src/images/story/story_3_en.png", loading="lazy", alt="")
            .pic
              .content The ultimate goals of "Family and Child Welfare Services" are to maintain and strengthen family bonding, to encourage mutual support relationship among family members; to help them prevent and cope with individual or family problems; as well as to provide services for their unmet needs.
              .btn 
                a(href="./src/pdf/3_Family/Brief_Family and Child Welfare Services_2526.pdf" target="_blank")
                  p Service Brief
                a(href="./src/pdf/3_Family/MA list_Family and Child Welfare Services_2526.pdf" target="_blank")
                  p Beneficiary
          .img.fade#six
            img(src="./src/images/story/story_6_en.png", loading="lazy", alt="")
            .pic
              .content "Community Development Services" aim at promoting social relationship and cohesion within the community, and to encourage the participation of individuals in solving community problems and improving the quality of community life.
              .btn 
                a(href="./src/pdf/6_other/Brief_Community Development and Other Services_2526.pdf" target="_blank")
                  p Service Brief
                a(href="./src/pdf/6_other/MA list_Community Development and Other Services_2526.pdf" target="_blank")
                  p Beneficiary

        .wrap.pad
          .img.fade#one
            img(src="./src/images/story/story_1_en.png", loading="lazy", alt="")
            .pic
              .content “Children and Youth Services" provide caring services, support services and various developmental and training projects to help children and youth acquire well-rounded personal growth and enhance their leadership and inter-personal skills.
              .btn 
                a(href="./src/pdf/1_children/Brief_Children and Youth Services_2526.pdf" target="_blank")
                  p Service Brief
                a(href="./src/pdf/1_children/MA list_Children and Youth Services_2526.pdf" target="_blank")
                  p Beneficiary
          .img.fade#three
            img(src="./src/images/story/story_3_en.png", loading="lazy", alt="")
            .pic
              .content The ultimate goals of "Family and Child Welfare Services" are to maintain and strengthen family bonding, to encourage mutual support relationship among family members; to help them prevent and cope with individual or family problems; as well as to provide services for their unmet needs.
              .btn 
                a(href="./src/pdf/3_Family/Brief_Family and Child Welfare Services_2526.pdf" target="_blank")
                  p Service Brief
                a(href="./src/pdf/3_Family/MA list_Family and Child Welfare Services_2526.pdf" target="_blank")
                  p Beneficiary
          .img.fade#five
            img(src="./src/images/story/story_5_en.png", loading="lazy", alt="")
            .pic
              .content "Rehabilitation Services" aim to acknowledge the equal rights of people with disabilities to be full members of the community by assisting them in developing their physical, mental and social capabilities to the fullest possible extent and to promote their integration into the community.
              .btn 
                a(href="./src/pdf/5_Aftercare/Brief_Rehabilitation and Aftercare Services_2526.pdf" target="_blank")
                  p Service Brief
                a(href="./src/pdf/5_Aftercare/MA_list_Rehabilitation and Aftercare Services_2526.pdf" target="_blank")
                  p Beneficiary
        .wrap#middle.pad
          .img.fade#two
            img(src="./src/images/story/story_2_en.png", loading="lazy", alt="")
            .pic
              .content The ultimate goals of “Elderly Services” are to encourage and assist people to take care of their senior family members; to provide multi-dimensional services for senior citizens to join in community activities, to demonstrate their strengths and to enable them to enjoy good health and have a sense of security, belonging and worthiness.
              .btn 
                a(href="./src/pdf/2_elderly/Brief_Elderly Services_2526.pdf" target="_blank")
                  p Service Brief
                a(href="./src/pdf/2_elderly/MA list_Elderly Services_2526.pdf" target="_blank")
                  p Beneficiary
          .img.fade#four
            img(src="./src/images/story/story_4_en.png", loading="lazy", alt="")
            .pic
              .content "Medical & Health Services" aim to support patients and their family members in better managing their daily lives and to improve their quality of life; to advocate healthy living style and provide preventive education on different diseases among members of the community to achieve holistic development.
              .btn 
                a(href="./src/pdf/4_Medical/Brief_Medical & Health Services_2526.pdf" target="_blank")
                  p Service Brief
                a(href="./src/pdf/4_Medical/MA_list_Medical & Health Services_2526.pdf" target="_blank")
                  p Beneficiary
          .img.fade#six
            img(src="./src/images/story/story_6_en.png", loading="lazy", alt="")
            .pic
              .content "Community Development Services" aim at promoting social relationship and cohesion within the community, and to encourage the participation of individuals in solving community problems and improving the quality of community life.
              .btn 
                a(href="./src/pdf/6_other/Brief_Community Development and Other Services_2526.pdf" target="_blank")
                  p Service Brief
                a(href="./src/pdf/6_other/MA list_Community Development and Other Services_2526.pdf" target="_blank")
                  p Beneficiary
        .wrap.mobile
          .img.fade#one
            img(src="./src/images/story/story_1_en.png", loading="lazy", alt="")
            .pic
              .content “Children and Youth Services" provide caring services, support services and various developmental and training projects to help children and youth acquire well-rounded personal growth and enhance their leadership and inter-personal skills.
              .btn 
                a(href="./src/pdf/1_children/Brief_Children and Youth Services_2526.pdf" target="_blank")
                  p Service Brief
                a(href="./src/pdf/1_children/MA list_Children and Youth Services_2526.pdf" target="_blank")
                  p Beneficiary
          .img.fade#two
            img(src="./src/images/story/story_2_en.png", loading="lazy", alt="")
            .pic
              .content The ultimate goals of “Elderly Services” are to encourage and assist people to take care of their senior family members; to provide multi-dimensional services for senior citizens to join in community activities, to demonstrate their strengths and to enable them to enjoy good health and have a sense of security, belonging and worthiness.
              .btn 
                a(href="./src/pdf/2_elderly/Brief_Elderly Services_2526.pdf" target="_blank")
                  p Service Brief
                a(href="./src/pdf/2_elderly/MA list_Elderly Services_2526.pdf" target="_blank")
                  p Beneficiary
          .img.fade#three
            img(src="./src/images/story/story_3_en.png", loading="lazy", alt="")
            .pic
              .content The ultimate goals of "Family and Child Welfare Services" are to maintain and strengthen family bonding, to encourage mutual support relationship among family members; to help them prevent and cope with individual or family problems; as well as to provide services for their unmet needs.
              .btn 
                a(href="./src/pdf/3_Family/Brief_Family and Child Welfare Services_2526.pdf" target="_blank")
                  p Service Brief
                a(href="./src/pdf/3_Family/MA list_Family and Child Welfare Services_2526.pdf" target="_blank")
                  p Beneficiary
          .img.fade#four
            img(src="./src/images/story/story_4_en.png", loading="lazy", alt="")
            .pic
              .content "Medical & Health Services" aim to support patients and their family members in better managing their daily lives and to improve their quality of life; to advocate healthy living style and provide preventive education on different diseases among members of the community to achieve holistic development.
              .btn 
                a(href="./src/pdf/4_Medical/Brief_Medical & Health Services_2526.pdf" target="_blank")
                  p Service Brief
                a(href="./src/pdf/4_Medical/MA_list_Medical & Health Services_2526.pdf" target="_blank")
                  p Beneficiary
          .img.fade#five
            img(src="./src/images/story/story_5_en.png", loading="lazy", alt="")
            .pic
              .content "Rehabilitation Services" aim to acknowledge the equal rights of people with disabilities to be full members of the community by assisting them in developing their physical, mental and social capabilities to the fullest possible extent and to promote their integration into the community.
              .btn 
                a(href="./src/pdf/5_Aftercare/Brief_Rehabilitation and Aftercare Services_2526.pdf" target="_blank")
                  p Service Brief
                a(href="./src/pdf/5_Aftercare/MA_list_Rehabilitation and Aftercare Services_2526.pdf" target="_blank")
                  p Beneficiary
          .img.fade#six
            img(src="./src/images/story/story_6_en.png", loading="lazy", alt="")
            .pic
              .content "Community Development Services" aim at promoting social relationship and cohesion within the community, and to encourage the participation of individuals in solving community problems and improving the quality of community life.
              .btn 
                a(href="./src/pdf/6_other/Brief_Community Development and Other Services_2526.pdf" target="_blank")
                  p Service Brief
                a(href="./src/pdf/6_other/MA list_Community Development and Other Services_2526.pdf" target="_blank")
                  p Beneficiary
          
          
          
      .bunny
        img.bunny1.fade(src="./src/images/story/rabbit_1.png", loading="lazy", alt="")
        img.bunny2.fade(src="./src/images/story/rabbit_2.png", loading="lazy", alt="")
        img.bunny3.fade(src="./src/images/story/rabbit_3.png", loading="lazy", alt="")
    section.donate
      .block_top
      .title
        img.fade(src="./src/images/donate/title_en.png", loading="lazy", alt="")
        p.fade Participants can donate to the Chest by the following methods:
      .content 
        .wrap 
          .block.fade 
            .subtitle Crossed Cheque
            .intro 
              img.check(src="./src/images/donate/step_1.png", loading="lazy", alt="")
              p Write a crossed cheque payable to
                br
                | “The Community Chest of Hong Kong”;  or
            .tag 
              img(src="./src/images/donate/tag.svg", loading="lazy", alt="")
              p 1
          .block.fade
            .subtitle Deposit the Donations
            .intro 
              p Deposit the donations into 
                br
                |the Chest’s bank accounts at
                br
                |Bank of China (Hong Kong): 
                span 012-874-0-008588-4 
                |  or 
                br
                |Hang Seng Bank: 
                span 280-157553-001 
                |  ; or
            .tag 
              img(src="./src/images/donate/tag.svg", loading="lazy", alt="")
              p 2
        .wrap 
          .block.fade#three
            .subtitle FPS
            .intro 
              .d-flex
                p.laptop Use the e-wallet / mobile app which supports FPS to input the FPS ID of Chest 
                  span 1034495 
                  |  or 
                  span 1902584
                  |  or scan the QR code to make donation.
                p.mobile Use the e-wallet / mobile app which supports FPS to input the FPS ID of Chest 
                  span 1034495 
                  |  or 
                  span 1902584
                  |  or scan the QR code to make donation.
                    
                img.qrcode(src="./src/images/donate/qrcode.png", loading="lazy", alt="")
                .arrow 
                  img(src="./src/images/donate/store.png", loading="lazy", alt="")
                  .arrow_title
                    svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 351 90", fill="none")
                      path(d="M35.7821 0.868652H350.717V89.8687H35.7821L0.716797 45.3687L35.7821 0.868652Z", fill="#FF76B6")
                    .arrow_p Enable the QR code scanner of 
                      br
                      |your mobile banking app or e-wallet
                .arrow.under600
                  img(src="./src/images/donate/store.png", loading="lazy", alt="")
                  
                  .arrow_p_600 Enable the QR code scanner of 
                    br
                    |your mobile banking app or e-wallet
                
              p.note *For the donation via FPS, please submit a screen capture of your transaction record with transaction date & time included, as well as provide the donor name and the full name of the bank account holder for accounting purposes.
            .tag 
              img(src="./src/images/donate/tag.svg", loading="lazy", alt="")
              p 3
      .discription
        .d-flex.fade_text 
          p.detail Co-ordinators should consolidate all donations and send in the
            br 
            span.pink_btn payment reference(s)
            |  or 
            span.pink_btn cheque(s)
            |, together with
            br
            span
              a(href="https://app.commchest.org/cd/dcd2025/Enrol_Form_www(editable).pdf" target="_blank").blue_btn Enrolment Form
            |、
            span
              a(href="https://app.commchest.org/cd/dcd2025/DCD25_DonationSummaryForm_Editable.pdf" target="_blank").blue_btn Donation Summary Form
            |and
            span
              a(href="https://app.commchest.org/cd/dcd2025/DCD25_DonationRecordForm.xlsx" target="_blank").blue_btn Donation Record Form(s)
            br
            |to the Chest Office by post / email 
            span.hl within one month  
            |  after the event day.
          p Official receipts will be issued to donors who contribute HK$100 or above.
      .block_bottom            

    section.weartocare
      .game 
        .bg
          .note
            img.paper.laptop(src="./src/images/weartocare/note_en.png", loading="lazy", alt="")
            img.paper.pad(src="./src/images/weartocare/note_768.png", loading="lazy", alt="")
            img.paper.mobile(src="./src/images/weartocare/note_576.png", loading="lazy", alt="")
            
            .wrap
              .title.fade
                img.rabbit(src="./src/images/weartocare/rabbit.png", loading="lazy", alt="")
                .text
                  img(src="./src/images/weartocare/title_en.png", loading="lazy", alt="")
              p.fade_text The Community Chest Dress Casual Day 2025 has a fun activity for everyone – "WEAR TO CARE" prize game.
                br
                br
                |Participants must like
                span.blue
                  a(href="https://www.facebook.com/commchestHK" target="_blank") The Community Chest Facebook page 
                |  or follow 
                span.blue
                  a(href="https://www.instagram.com/commchesthk/" target="_blank") The Community Chest Instagram account
                |, like "WEAR TO CARE" prize game post*, select the outfit you like with explanation in the post comments section or share your own outfit ideas for this year’s Dress Casual Day, in no more than 50 words, with the hashtag 
                span.orange  #weartocare 
                |. Tag at least three friends (must be Facebook or Instagram users) and you will stand a chance to win prizes!
                br
                br
                |The Chest will shortlist 
                span.orange 40 
                | most impressive content among the entries. Prizes for winners:  
                br
                |Grand prize (top 5): 
                span.orange a Free Shoes Voucher
                |  sponsored by SKECHERS (to redeem any price for one pair of shoes);
                br
                | 2nd prize (top 6-15): 
                span.orange a city'super Gift Card
                |  sponsored by Fulam Construction Engineering Company Limited (value at HK$500);
                br
                | 3rd prize (top 16-30): 
                span.orange one Papery Bunni Konbiny Eco Bento 
                  u OR
                span.orange  one Thermal Bottle
                |  sponsored by Beluga Limited;
                br
                |4th prize (top 31- 40): 
                span.orange one Papery Bunni Konbiny Eco Straw 
                  u AND
                span.orange  one Eco Cutlery Set
                |  sponsored by Beluga Limited.
                br
                |Style and colour of prizes will be distributed randomly and cannot be chosen.
              .card_group
                .card.fade
                  .card_title
                    p Grand prize (top 5): 
                      br
                      |Free Shoes Voucher
                  img(src="./src/images/weartocare/shoes.png", data-large="./src/images/weartocare/shoes_big.jpg", loading="lazy", alt="鞋履免費換領券")
                .card.fade
                  .card_title
                    p 2nd prize (top 6-15): 
                      br
                      |city'super Gift Card
                  img(src="./src/images/weartocare/coupon.png", data-large="./src/images/weartocare/coupon_big.jpg", loading="lazy", alt="city'super 禮品卡")
                .card.cardthree.fade
                  .card_title
                    p 3rd prize (top 16-30): 
                      br
                      |Eco Bento 
                      span.underline OR
                      |  Thermal Bottle
                  .carousel-container
                    .carousel-nav-btn.carousel-prev
                      svg(xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none")
                        path(d="M7.36379 13.1862C7.55126 12.9987 7.65657 12.7444 7.65657 12.4793C7.65657 12.2141 7.55126 11.9598 7.36379 11.7723L2.41379 6.82225L7.36379 1.87225C7.54594 1.68365 7.64674 1.43104 7.64446 1.16885C7.64218 0.906651 7.53701 0.655839 7.35161 0.47043C7.1662 0.285022 6.91538 0.179855 6.65319 0.177576C6.39099 0.175298 6.13839 0.276092 5.94979 0.45825L0.292786 6.11525C0.105315 6.30278 8.25434e-08 6.55709 7.93814e-08 6.82225C7.62193e-08 7.08741 0.105315 7.34172 0.292786 7.52925L5.94979 13.1862C6.13731 13.3737 6.39162 13.479 6.65679 13.479C6.92195 13.479 7.17626 13.3737 7.36379 13.1862Z" fill="currentColor")
                    .carousel-nav-btn.carousel-next
                      svg(xmlns="http://www.w3.org/2000/svg" width="9" height="14" viewBox="0 0 9 14" fill="none")
                        path(d="M1.11525 0.470324C0.927779 0.657852 0.822463 0.91216 0.822463 1.17732C0.822463 1.44249 0.927779 1.6968 1.11525 1.88432L6.06525 6.83432L1.11525 11.7843C0.933091 11.9729 0.832297 12.2255 0.834575 12.4877C0.836854 12.7499 0.942022 13.0007 1.12743 13.1861C1.31284 13.3716 1.56365 13.4767 1.82585 13.479C2.08804 13.4813 2.34065 13.3805 2.52925 13.1983L8.18625 7.54132C8.37372 7.3538 8.47904 7.09949 8.47904 6.83432C8.47904 6.56916 8.37372 6.31485 8.18625 6.12732L2.52925 0.470324C2.34172 0.282853 2.08741 0.177538 1.82225 0.177538C1.55709 0.177538 1.30278 0.282853 1.11525 0.470324Z" fill="currentColor")
                    .carousel-track
                      .carousel-slide
                        img(src="./src/images/weartocare/lunch_box.jpg", data-large="./src/images/weartocare/lunch_box_big.jpg", loading="lazy", alt="環保便當盒")
                      .carousel-slide
                        img(src="./src/images/weartocare/bottle.jpg", data-large="./src/images/weartocare/bottle_big.jpg", loading="lazy", alt="保溫瓶")
                    .carousel-dots
                      .dot.active(data-slide="0")
                      .dot(data-slide="1")
                .card.cardfour.fade
                  .card_title
                    p 4th prize (top 31- 40): 
                      br
                      |Eco Straw 
                      span.underline AND
                      |  Eco Cutlery Set
                  .carousel-container
                    .carousel-nav-btn.carousel-prev
                      svg(xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none")
                        path(d="M7.36379 13.1862C7.55126 12.9987 7.65657 12.7444 7.65657 12.4793C7.65657 12.2141 7.55126 11.9598 7.36379 11.7723L2.41379 6.82225L7.36379 1.87225C7.54594 1.68365 7.64674 1.43104 7.64446 1.16885C7.64218 0.906651 7.53701 0.655839 7.35161 0.47043C7.1662 0.285022 6.91538 0.179855 6.65319 0.177576C6.39099 0.175298 6.13839 0.276092 5.94979 0.45825L0.292786 6.11525C0.105315 6.30278 8.25434e-08 6.55709 7.93814e-08 6.82225C7.62193e-08 7.08741 0.105315 7.34172 0.292786 7.52925L5.94979 13.1862C6.13731 13.3737 6.39162 13.479 6.65679 13.479C6.92195 13.479 7.17626 13.3737 7.36379 13.1862Z" fill="currentColor")
                    .carousel-nav-btn.carousel-next
                      svg(xmlns="http://www.w3.org/2000/svg" width="9" height="14" viewBox="0 0 9 14" fill="none")
                        path(d="M1.11525 0.470324C0.927779 0.657852 0.822463 0.91216 0.822463 1.17732C0.822463 1.44249 0.927779 1.6968 1.11525 1.88432L6.06525 6.83432L1.11525 11.7843C0.933091 11.9729 0.832297 12.2255 0.834575 12.4877C0.836854 12.7499 0.942022 13.0007 1.12743 13.1861C1.31284 13.3716 1.56365 13.4767 1.82585 13.479C2.08804 13.4813 2.34065 13.3805 2.52925 13.1983L8.18625 7.54132C8.37372 7.3538 8.47904 7.09949 8.47904 6.83432C8.47904 6.56916 8.37372 6.31485 8.18625 6.12732L2.52925 0.470324C2.34172 0.282853 2.08741 0.177538 1.82225 0.177538C1.55709 0.177538 1.30278 0.282853 1.11525 0.470324Z" fill="currentColor")
                    .carousel-track
                      .carousel-slide
                        img(src="./src/images/weartocare/straw.jpg", data-large="./src/images/weartocare/straw_big.jpg", loading="lazy", alt="環保飲管")
                      .carousel-slide
                        img(src="./src/images/weartocare/ware.jpg", data-large="./src/images/weartocare/ware_big.jpg", loading="lazy", alt="環保餐具")
                    .carousel-dots
                      .dot.active(data-slide="0")
                      .dot(data-slide="1")
              p.note_text 
                span(style="font-size: 0.8em; vertical-align: super") #
                |Note: Photos are for reference only. Colour and style of prizes will be distributed randomly.  
      p.duration.fade_text Remember to participate and follow the game instructions between 
        span.pink 2 October (12 noon) to 28 October 2025 (up to 6 pm)
        |, results will be announced on 7 November 2025 in this website and the Chest Facebook page and Instagram Account.
        br
        br
        |"WEAR TO CARE" prize game post will be announced in October 2025 on the Chest Facebook page and Instagram account. For prize game details, please refer to the 
        span.blue
          a(href="#" data-popup="terms") terms and conditions.
        
        // Terms and Conditions Popup
        .terms-popup(aria-hidden="true")
          .container(role="dialog" aria-modal="true" aria-label="terms and conditions")
            span.close-btn(aria-label="關閉") ×
            .content
              h2 The Community Chest of Hong Kong Dress Casual Day 2025 – WEAR TO CARE Prize GameTerms and Conditions
              .terms-content
                ol
                  li Each participant for The Community Chest (the Chest) WEAR TO CARE Prize Game (The Event) can only make one submission. Participants are prohibited from using more than one account or multiple identities. If any participant is found or suspected to use more than one account or multiple identities to participate in the Event, the Chest reserves the right to disqualify any entry deemed inappropriate and awards given will be removed.
                  li The Event will be held from 12 noon on 2 October 2025 to 6 pm on 28 October 2025 (Hong Kong Time, subject to the receipt by the Facebook and Instagram server).
                  li Participants must like The Community Chest Facebook page or follow The Community Chest Instagram account, like "WEAR TO CARE" prize game post*, select the outfit you like with explanation in the post comments section or share your own outfit ideas for this year’s Dress Casual Day, in no more than 50 words, with the hashtag #weartocare. Tag at least three friends (must be Facebook or Instagram users). 
                  li Post comments submitted with hashtag #weartocare during the specific period will be reviewed by the Chest. Content in-line with the theme and required rules and regulations will be posted onto our Dress Casual Day 2025 event website/Facebook or Instagram account of the Chest. Vulgarity, violence, commercial, political, and religious-influenced pieces will be excluded.
                  li All entries will be used solely for this event’s promotional purposes. If you do not wish to have your content uploaded onto the event website/Facebook or Instagram account of the Chest, please email to 
                    a(href="mailto:dress@commchest.org") dress@commchest.org
                    |。
                  li At the end of the event, The Chest will shortlist 40 most impressive content among the entries. Prizes for winners:
                    br
                    |Grand prize (top 5): a Free Shoes Voucher sponsored by SKECHERS (to redeem any price for one pair of shoes);
                    br
                    |2nd prize (top 6-15): a city'super Gift Card sponsored by Fulam Construction Engineering Company Limited (value at HK$500);
                    br
                    |3rd prize (top 16-30): one Papery Bunni Konbiny Eco Bento OR one Thermal Bottle sponsored by Beluga Limited;
                    br
                    |4th prize (top 31- 40): one Papery Bunni Konbiny Eco Straw AND one Eco Cutlery Set sponsored by Beluga Limited.
                    br
                    |Style and colour of prizes will be distributed randomly and cannot be chosen.
                  li Entries will be judged based on their aesthetic content and originality. All submissions must be original and cannot be previously published or used elsewhere (other platforms or competitions). Any form of infringement will result in disqualification without prior notice.
                  li If there is identical content submitted, only the earliest submission that meets all designated participation steps will be judged.
                  li If submission has violated Hong Kong legislation or the event’s Terms and Conditions, the Chest has the right to disqualify the participant and winners must forfeit their award. Participants would bear the full responsibility in any claims of copyright infringement, and the Chest will not be held responsible.
                  li By submitting your content to the Chest, all eligible participants are considered to have agreed and will abide by the Terms and Conditions of the Event.
                  li The Chest is not the supplier of such prizes. Prizes are subject to the terms and conditions set by respective suppliers. Any inquiry, comment or complaint about the quality of relevant products or services should be directed to the relevant suppliers. The Chest will not be responsible for any matter in relation to the relevant products or services.
                  li The Chest reserves the right to modify or delete any Event information plus Terms and Conditions without prior notice.
                  li The Chest reserves the final decision in deleting or cancelling any entry; participants shall have no objection.
                  li In cases of disputes, the Chest reserves the right of final decision on the interpretation of the Terms and Conditions.
                  li The Chest may refer to the participants’ names and contact information via social media platforms in the arrangement of prize giveaway.
                  li Winner announcement will be made on 7 November 2025 on this website and the Chest Facebook page and Instagram account. All winners must inbox the required information to The Community Chest Facebook or Instagram for prize collection arrangement on or before 17 November 2025 or they would be regard as forfeit.


          
      .prize_list.fade 
        img.left_tree(src="./src/images/prize_list/left_tree_en.png", loading="lazy", alt="")
        img.left_tree_576(src="./src/images/prize_list/left_tree.png", loading="lazy", alt="") 
        a(href="") 
          img.title(src="./src/images/prize_list/title_en.png", loading="lazy", alt="")
        img.right_tree(src="./src/images/prize_list/right_tree_en.png", loading="lazy", alt="")
        img.right_tree_576(src="./src/images/prize_list/right_tree.png", loading="lazy", alt="")
      .prize_content.fade_text 
        p May all winners please inbox the following information to
          br
          span.blue
            a(href="https://www.facebook.com/commchestHK" target="_blank") The Community Chest Facebook
          |  or 
          span.blue
            a(href="https://www.instagram.com/commchesthk/" target="_blank") Instagram 
          |on or before 17 November 2025 for prize collection arrangement:
        .btn_group
          .btn ① Full name (Chinese/English)
          .btn ② Contact number
          .btn ③ Email address

    .image-popup(aria-hidden="true")
      .container(role="dialog" aria-modal="true" aria-label="圖片預覽")
        span.close-btn(aria-label="關閉") ×
        .preview
          img(src="", alt="")

    section.theme#theme
      .title.fade
        img.rabbit(src="./src/images/theme_download/one.png", loading="lazy", alt="")
        img.rabbit(src="./src/images/theme_download/two.png", loading="lazy", alt="")
        img.theme_title(src="./src/images/theme_download/theme_en.png", loading="lazy", alt="")
        img.rabbit(src="./src/images/theme_download/three.png", loading="lazy", alt="")
        img.rabbit(src="./src/images/theme_download/four.png", loading="lazy", alt="")
      .bg
        .heart
      .content.fade_text
        p This year, Chest has invited popular IP  
          span Bunni Konbiny 
          |to promote Dress Casual Day 2025. Two versions of Dress Casual Day 2025 wallpapers have been specially designed for download.
          br
          br
          |Participants can crop the image into different sizes to fit with their electronic devices (including mobile / desktop / tablet / smartwatch) and set as wallpaper. Share the positive message of integrating philanthropy into your everyday life everywhere with families and friends.
        .download.fade
          img(src="./src/images/theme_download/download.png", loading="lazy", alt="")
          .btn(tabindex="0" role="button" aria-label="立即下載：開啟主題背景彈窗")
            .text
              img(src="./src/images/theme_download/flower.png", loading="lazy", alt="")
              p Download
            .shape
              svg(xmlns="http://www.w3.org/2000/svg" width="46" height="29" viewBox="0 0 46 29" fill="none")
                path(d="M46 0H11L0 29L46 0Z")

        .wallpaper-popup(aria-hidden="true")
          .container(role="dialog" aria-modal="true" aria-label="主題背景下載")
            span.close-btn(aria-label="關閉") ×
            .preview
              img(src="./src/images/theme_download/download.png", loading="lazy", alt="主題背景預覽示意")
            .actions
              a.wp-btn(href="./src/wallpaper/DCD2025_Wallpaper_A_Desktop.jpg" target="_blank") Theme Image A（Landscape）
              a.wp-btn(href="./src/wallpaper/DCD2025_Wallpaper_B_Desktop.jpg" target="_blank") Theme Image B（Landscape）
              a.wp-btn(href="./src/wallpaper/DCD2025_Wallpaper_A_Mobile.jpg" target="_blank") Theme Image A（Portrait）
              a.wp-btn(href="./src/wallpaper/DCD2025_Wallpaper_B_Mobile.jpg" target="_blank") Theme Image B（Portrait）
    section.signup#download 
      .title.fade
        img(src="./src/images/signup/title_en.png", loading="lazy", alt="")
      .content
        .wrap.sign_up.fade 
          .wrap_title
            img.text(src="./src/images/signup/signup_en.png", loading="lazy", alt="")
            img.icon(src="./src/images/signup/signup_pic.svg", loading="lazy", alt="")
          .btn_group.mint
            a(href="https://app.commchest.org/event/dcd2025/enrolment.aspx" target="_blank").btn
              img(src="./src/images/signup/arrow.svg", loading="lazy", alt="")
              p Corporate/School
            a(href="https://www.commchest.org/en/event/dcd2025/enrolment/form/individual" target="_blank").btn
              img(src="./src/images/signup/arrow.svg", loading="lazy", alt="")
              p Individual
        .wrap.download.fade 
          .wrap_title
            img.text(src="./src/images/signup/download_en.png", loading="lazy", alt="")
            img.icon(src="./src/images/signup/download.svg", loading="lazy", alt="")
          .btn_group.orange
            a(href="https://app.commchest.org/cd/dcd2025/Enrol_Form_www(editable).pdf" target="_blank").btn
              img(src="./src/images/signup/pdf.svg", loading="lazy", alt="")
              p Enrolment Form
            a(href="#").btn
              img(src="./src/images/signup/pdf.svg", loading="lazy", alt="")
              p Poster
            a(href="https://app.commchest.org/cd/dcd2025/GuidelinesForParticipation_Eng_2025.pdf" target="_blank").btn
              img(src="./src/images/signup/pdf.svg", loading="lazy", alt="")
              p Guideline for 
                br
                |Participation
            a(href="https://app.commchest.org/cd/dcd2025/DCD25_ParentReplySlip_Editable.pdf" target="_blank").btn
              img(src="./src/images/signup/pdf.svg", loading="lazy", alt="")
              p Parent Reply Slip
                br
                |(for school only)
            a(href="https://app.commchest.org/cd/dcd2025/DCD25_DonationRecordForm.xlsx" target="_blank").btn
              img(src="./src/images/signup/pdf.svg", loading="lazy", alt="")
              p Donation 
                br
                |Record Form
            a(href="https://app.commchest.org/cd/dcd2025/DCD25_DonationSummaryForm_Editable.pdf" target="_blank").btn
              img(src="./src/images/signup/pdf.svg", loading="lazy", alt="")
              p Donation 
                br
                |Summary Form
            a(href="https://app.commchest.org/cd/dcd2025/DCD25_Additional_Request_Form_Editable.pdf" target="_blank").btn
              img(src="./src/images/signup/pdf.svg", loading="lazy", alt="")
              p Additional Promotional 
                br
                |Materials Request Form 
            a(href="https://app.commchest.org/cd/dcd2025/DCD25_CertificateOfTheMostUniquePersonalityAward.pdf" target="_blank").btn
              img(src="./src/images/signup/pdf.svg", loading="lazy", alt="")
              p Certificate of the Most 
                br
                |Unique Personality Award
            a(href="#theme").btn
              img(src="./src/images/signup/pdf.svg", loading="lazy", alt="")
              p Wallpaper

    section.sponsor 
      .sponsor_laptop
        .top
          .wrap.left.fade
            .title Diamond Sponsor
            .img
              img(src="./src/images/sponsor/hang_bank.svg", loading="lazy", alt="")
              img(src="./src/images/sponsor/nameson.svg", loading="lazy", alt="")
          .wrap.right.fade
            .title Bronze Sponsor
            .img
              img(src="./src/images/sponsor/perfit_logo.jpg", loading="lazy", alt="")
        .middle
          .wrap.left.fade
            .title Fully Supported by
            .img
              img.harbour(src="./src/images/sponsor/harbour.svg", loading="lazy", alt="")
              img.time_square(src="./src/images/sponsor/time_square.svg", loading="lazy", alt="")
              img.hollywood(src="./src/images/sponsor/hollywood.svg", loading="lazy", alt="")
          .wrap.right.fade
            .title Media Partners
            .img
              img.head(src="./src/images/sponsor/head.jpg", loading="lazy", alt="")
              img.job(src="./src/images/sponsor/job.png", loading="lazy", alt="")
              img.new(src="./src/images/sponsor/new_holiday.svg", loading="lazy", alt="")
        .bottom
          .wrap.fade
            .title Organiser
            .img
              img.chest(src="./src/images/sponsor/community_chest.svg", loading="lazy", alt="")
              img.horse(src="./src/images/sponsor/horse.svg", loading="lazy", alt="")
            p The Community Chest of Hong Kong is grateful for the generosity of its partner-in-charity, The Hong Kong Jockey Club, which makes possible the allocation of 100% of the donations to over 160 social welfare member agencies - without deduction of administrative costs - to benefit millions in Hong Kong every year.
      .sponsor_mobile
        
        .wrap.fade
          .title Diamond Sponsor
          .img
            img.hang_bank(src="./src/images/sponsor/hang_bank.svg", loading="lazy", alt="")
            img.nameson(src="./src/images/sponsor/nameson.svg", loading="lazy", alt="")
        .wrap.fade
          .title Bronze Sponsor
          .img
            img.perfit_logo(src="./src/images/sponsor/perfit_logo.jpg", loading="lazy", alt="")
      
        .wrap.fade
          .title Fully Supported by
          .img
            img.harbour(src="./src/images/sponsor/harbour.svg", loading="lazy", alt="")
            img.time_square(src="./src/images/sponsor/time_square.svg", loading="lazy", alt="")
            img.hollywood(src="./src/images/sponsor/hollywood.svg", loading="lazy", alt="")
        .wrap.fade
          .title Media Partners
          .img
            img.head(src="./src/images/sponsor/head.jpg", loading="lazy", alt="")
            img.job(src="./src/images/sponsor/job.png", loading="lazy", alt="")
            img.new(src="./src/images/sponsor/new_holiday.svg", loading="lazy", alt="")
      
        .wrap.bottom.fade
          .title Organiser
          .img
            img.chest(src="./src/images/sponsor/community_chest.svg", loading="lazy", alt="")
            img.horse(src="./src/images/sponsor/horse.svg", loading="lazy", alt="")
          p The Community Chest of Hong Kong is grateful for the generosity of its partner-in-charity, The Hong Kong Jockey Club, which makes possible the allocation of 100% of the donations to over 160 social welfare member agencies - without deduction of administrative costs - to benefit millions in Hong Kong every year.
            
    footer

      .bg
        .bg_color
        
        .content
          .logo
            img(src="./src/images/footer/community_chest.svg", loading="lazy", alt="")
            p.note For enquiries, please contact The Community Chest of Hong Kong
          .detail
            .address
              img(src="./src/images/footer/address.svg", loading="lazy", alt="")
              a(href="https://maps.app.goo.gl/tMx5JXmTTayD3Z8U6" target="_blank") Unit 1805, 18/F, Harcourt House, 39 Gloucester Road, Wanchai, Hong Kong
            .d-flex
              .wrap.phone
                img(src="./src/images/footer/phone.svg", loading="lazy", alt="")
                .tel
                  a(href="tel:+85225996112") 2599 6112 
                  span /
                  a(href="tel:+85225996127")  2599 6127
              .wrap.email
                img(src="./src/images/footer/email.svg", loading="lazy", alt="")
                a(href="mailto:dress@commchest.org") dress@commchest.org
              .wrap.fax
                img(src="./src/images/footer/fax.svg", loading="lazy", alt="")
                a(href="#") 2506 1201
              .wrap.www
                img(src="./src/images/footer/www.svg", loading="lazy", alt="")
                a(href="https://www.commchest.org" target="_blank") www.commchest.org
        .social 
          a(href="https://www.facebook.com/commchestHK" target="_blank")
            img(src="./src/images/footer/facebook.svg", loading="lazy", alt="")
          a(href="https://www.instagram.com/commchesthk/" target="_blank")
            img(src="./src/images/footer/instagram.svg", loading="lazy", alt="")
          a(href="https://www.youtube.com/@commchestHK/featured" target="_blank")
            img(src="./src/images/footer/youtube.svg", loading="lazy", alt="")
        .footer_copyright 
          img.rabbit(src="./src/images/footer/rabbit.svg", loading="lazy", alt="")
          img.copyright(src="./src/images/footer/copyright.svg", loading="lazy", alt="")

  script(src="https://code.jquery.com/jquery-3.7.1.min.js")
  script(defer src="./src/js/main.min.js")

        
